<h1>Accessible Modal Component</h1>

<p>Welcome to the accessible modal testing page!</p>

<button class="button button-primary" type="button" (click)="showModal()">show Modal</button>

<ng-template #modal>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-field">
      <label for="firstName">First Name</label>
      <input id="firstName" type="text" formControlName="firstName"
      [attr.aria-invalid]="form.get('firstName').invalid"
      aria-describedby="firstNameError">
      <span id="firstNameError" class="validation-error" *ngIf="form.get('firstName')?.errors?.required">first name is required!</span>
    </div>

    <div class="form-field">
      <label for="surname">Surname</label>
      <input id="surname" type="text" formControlName="surname"
      [attr.aria-invalid]="form.get('surname').invalid"
      aria-describedby="surnameError">
      <span id="surnameError" class="validation-error" *ngIf="form.get('surname')?.errors?.required">surname is required!</span>
    </div>

    <div class="form-field">
      <label for="age">Age</label>
      <input id="age" type="text" formControlName="age"
      [attr.aria-invalid]="form.get('age').invalid"
      aria-describedby="surameError">
      <span id="ageError" class="validation-error" *ngIf="form.get('age')?.errors?.required">age is required!</span>
    </div>

    <div class="subscribe-group">
      <label for="info">subscribe to news letter</label>
      <input id="info" type="checkbox" (change)="subscribeNews = !subscribeNews" formControlName="info">
      <p *ngIf="subscribeNews">This is a placeholder for more info.</p>
    </div>

    <div class="button-group">
      <button class="button button-primary" [attr.aria-disabled]="form.invalid">Submit</button>
      <button class="button button-dark" type="button" (click)="modalRef.close()">Cancel</button>
    </div>
  </form>

</ng-template>
